
/*#storeWidth{
  max-width: 10px;
  margin: 0 auto;
}
*/
/*@media only screen and (max-device-width: 700px) {

    #hojad{

      width:90px;
      height:640px;

    }
    	div#shoesidepanel {
			background-image: url(../public/img/hojad.gif);
			height: 93px;
			position: relative;
		}
	
	}
*/

.hojad2{
   display: none;
}

@media only screen and (max-width: 700px){ 
   .hojad{
     display: none;
   }

   .hojad2{
     display: inline-block;
   }
}
body{
  color:black;
}
a {
  color: #00000f;
}
a:hover,
a:focus {
  text-decoration: none;
}

ul{
  padding: 0;
}

li{
  list-style: none;
}

li.small-image{
  width: 50px;
}

li.small-image img{
  width: 100%;
}
/*
img{
  min-width:100%;
  min-height: 100%;
  
}
*/
.list-group-item{

  display:inline-block;
  padding-right: 30px;

}

.img-wrap {
  background: #f8f8f8;
  height: 200px;
  margin: 0 auto 20px;
  padding: 10px;
  width: 200px;
}

.img-thumbnail {
  background: none;
  border: 0;
  height: auto;
  max-width: 100%;
}

.img-thumbnails {
  display:inline-block;
 /* margin: 0 auto 10px;*/
  width: 100%;
}

.img-thumbnails .thumbnail {
  background: #f8f8f8;
  border: 0;
  /*margin-right: 25px;*/
  min-height: 50px;
}

.img-thumbnails .thumbnail:last-child {
  margin-right: 0;
}

.nav-pills {
  margin-bottom: 30px;
  color: rgba(0,0,0,.5);
}
.nav-pills > li:focus{
color: rgba(0,0,0,.5);


}

.nav-pills > li > a:hover,
.nav-pills > li > a:focus{
  color: rgba(0,0,0,1);
}

.nav-pills > li.active > a,
.btn-primary,
.btn-primary:focus {
  background: rgba(0,0,0,.2);
  border: 0;
}

.nav-pills > li.active > a:hover,
.btn-primary:hover {
  background: rgba(0,0,0,.5);
}
.ng-invalid.ng-dirty{
 border-color: #FA787E;

}
.ng-valid.ng-dirty{

border-color: #78FA89;

}
#emptyheart{

position:absolute;

}
.hearted{

opacity:0;


}
.hojadborder{
  border:1px solid black;
}
.fa-heart{
/*position:absolute;*/

 
}

#hearted{

  opacity:0;
}
.heartbutton{

opacity:1;

}
#heartbutton{

position: absolute;
margin-right:30px;

}
.heartcount{
 opacity:0;
}
.heartoff{
  opacity:0;
}
.hearton{
  opacity:100;
}
.thumbnailholder{
  
 
 display:inline-block;
}
p{
font-size:100%;
font-family:'Muli';

}
h4{


font-family:'Muli';

}
h3{

  
font-family:'Muli';
}

h2{

  font-family:'Muli';
}
h1{

  font-family:'Muli';
}

em{

  
font-family:'Muli';
}
blockquote{

font-family:'Muli';

}
.thumbnail{
  display:inline-block;

}
.image {
    width: 100%;
    height: 100%;    
}
.image img {
    -webkit-transition: all 1s ease; /* Safari and Chrome */
  	-moz-transition: all 1s ease; /* Firefox */
  	-o-transition: all 1s ease; /* IE 9 */
  	-ms-transition: all 1s ease; /* Opera */
  	transition: all 1s ease;
}

.image:hover img {
    -webkit-transform:scale(2.5); /* Safari and Chrome */
    -moz-transform:scale(2.5); /* Firefox */
    -ms-transform:scale(2.5); /* IE 9 */
    -o-transform:scale(2.5); /* Opera */
     transform:scale(2.5);
}


nav{

position:fixed;

}
/*
.title{
border: 1px solid black;
}
*/
#hearts{

display:absolute;
margin-top:20px;
float:right;

opacity:0;
transition:1s;


}
#hearts:hover{

opacity: 1;


}
#heartlink{


color:rgba(0,0,0,0);

}

#titles{
display:inline-block;

}

/*LANDING PAGE */
.landing{
 border-top:1px solid black;
 width:240px; 
 /*display: inline-block;*/
/*padding-right: 20px;*/
}
.showmore{

  display:inline;
}
/* reset buttons */

.reset{

  float: right;
}

.landing{

border: 1px solid black;
width: 250px;
display: inline-block;
/*padding-right: 20px;*/

}
#shoehearts{
  position:absolute;
  margin-left:230px;
}
.zoomers{
  z-index:99999;
}
/*mens shoe styling*/
.mainshoeview{
  height:550px;
  width:600px;
  overflow:scroll;
  transform-origin: 0 0;


border: 1px solid black;

}

.bottompadding{
  height: 20px;
}
.shoesidepanel{
border: 1px solid black;
}
.shoespecs{

border: 1px solid black;


}

.sizeselector{
  margin-left:-12px;


}

.details{
  border-top: 3px solid black;
  display:block;
}
.details2{
  border-top: 2px solid black;
  color:#586368;
}
.divider{
  border-top: 2px solid black;
}
.detailo{
border-top:2px solid black;
border:1px solid black;


}
.detailo.ng-hide{
 opacity:0;
}
.detailo.ng-hide-add,
.detailo.ng-hide-remove{
  transition: all linear 0.2s;
}
.detailspanel{
  border:1px solid black;
  width:300px;
}
.fa{
  z-index:99999;
}
#sale{
height: 250px;
width: 500px !important;

}
.adspace{

  border-top: 3px solid black;
  
}
.sitemap{
  border-bottom: 2px solid black;
  padding-right: 40px;
}
.emailsignup{
  border-bottom:2px solid black;
  display:inline-block;
  
  
}
.linkdecoration{

  text-decoration: underline;
}
/*
#mainimage{
  height:100%;
  width:100%;
}
*/
.imagefade{



}
.deselected{
  display:none;
}
.landing-gallery{
  display:block;
  height: 230px;
  width:  100%;

}
.mylovesname{
  margin-top:40px;
  font-family:'Bellefair';
}
.mylovestitle{
  font-family:'Bellefair';
}
#shoppingbagstyling{

  border-bottom: 1px solid #586368;

}
#loginloading{

  background-color:#fff1ef;

}
.orderhistorytitle{

   font-family:'Bellefair'
}
.orderhistorystyling{

  border-top: 1px solid black;

}
#orderhistorystyling{
  border-bottom : 1px solid black;
}
.orderconfirmationtitlediv{

  font-family:'Bellefair'

}
.orderconfirmationtitle{

  font-family:'Bellefair'

}
.myprofiletitle{
  font-family: 'Bellefair';
}
#shopprice{

  font-size: 20px;

}
#emailcodetitlestyling{
  font-family: 'Bellefair';
}
.mylovesdescription{
  margin-top:40px;
}
.mylovesremovebutton{

   margin-top:40px;
}
.questionblock{

  display:inline-block;

}
#sideblockreturns{
  border:2px solid black;
}
.faqheader{

  height: 80px;
  background-color: #ffe6e6;


}
#faqheaderstyle{
  position:absolute;
  margin-top:25px;

}
#shophearts{

  position:absolute;
  font-size: 20px;
  margin-left: 200px;

}
#shophearticon{

  font-size: 16px;

}
.fa-bolt {
    top:-5%;
    left:2%;
    font-size:70%;
}
#shoppingbagquantitydecliner{
  position:absolute;

  margin-top:-10px;

}
#ad{
  width:400px;
}

/*Modal Loader */
$c1: #114357;
$c2: #826C75;
$c3: #F29492;

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  overflow: hidden;
}
.dizzy-gillespie {
  filter: saturate(3);
  width: 0.1px;
  height: 0.1px;
  border: 40px solid transparent;
  border-radius: 5px;
  animation: loader 3s ease-in infinite, spin 1s linear infinite;
  margin:auto;
  outline: 1px solid transparent;
}
.dizzy-gillespie::before {
  filter: saturate(0.3);
  display: block;
  position: absolute;
  z-index: -1;
  margin-left: -40px;
  margin-top: -40px;
  content:'';
  height:0.1;
  width:0.1;
  border: 40px solid transparent;
  border-radius: 5px;
  animation: loader 2s ease-in infinite reverse, spin 0.8s linear infinite reverse;
  outline: 1px solid transparent;
}
.dizzy-gillespie::after {
  display: block;
  position: absolute;
  z-index: 2;
  margin-left: -10px;
  margin-top: -10px;
  content:'';
  height:20px;
  width:20px;
  border-radius: 20px;
  background-color: white;
  outline: 1px solid transparent;
}
@keyframes loader {
  0% {border-bottom-color:transparent;border-top-color:#114357}
  25% {border-left-color:transparent;border-right-color:#826C75}
  50% {border-top-color:transparent;border-bottom-color:#F29492}
  75% {border-right-color:transparent;border-left-color:#826C75}
  100% {border-bottom-color:transparent;border-top-color:#114357}
}
@keyframes spin {
  0% {transform: rotate(0deg)}
  100% {transform: rotate(-360deg)}
}
.dizzywrapper{
  outline: 1px solid transparent;
}
#list-wrapper{
max-height: 800px;
overflow-y: scroll;
margin-top: 20px;
border: solid 1px black;
  
}
.onepointfive{
  transform: scale(1.5);
  transform-origin: 0 0;
 
}
.twotimes{
  transform: scale(2);
  transform-origin: 0 0;

}
.threetimes{
  transform: scale(3);
  transform-origin: 0 0;
  
}

#whatsnew{
  height: 350px;
  width: 1000px;
  display:inline-block;
 
  overflow:hidden;
  
  transform-origin: 0 0;
}
.translate5004{
  transition:1s;
  transform:translateX(1650px);
}
.translate5003{
  transition:1s;
  transform:translateX(1000px);
}
.translate5002{
  transition:1s;
  transform:translateX(400px);
}
.translate500{
  transition:1s;
  transform:translateX(200px);
}
.translate5004Y{
  transition:1s;
  transform:translateX(-400px);
}
.translate5003Y{
  transition:1s;
  transform:translateX(-1650px);
}
.translate5002Y{
  transition:1s;
  transform:translateX(0px);
}
.translate500Y{
  transition:1s;
  transform:translateX(-400px);
}
.whatsnewoverflow{
  height: 100%;
  width:100%;
  overflow:hidden;
  position: relative;
  

}
.homeimageover{
  overflow:hidden;
}
.homeimageover2{
  overflow:auto;
}
#sizeformstyling{

  height:40px;

}
.shoplinkstyling{
  text-decoration: underline;
}
/* The starting CSS styles for the enter animation */
/*.slide.ng-enter {
  width:100%;
  transition:1s linear all;
  opacity:0;
}
.slide.ng-enter.ng-enter-active {
 
  opacity:1;
}
*/
.heartsizer{
  font-size: 13px;
}
#joinourmailinglist{

  font-size:16px;
  line-height: 1.5;
  color:#586368;
 
}
#ordersummarytitlestyling{
  font-family: 'Bellefair';
}
.openorderstyling{

  height:200px;
  overflow-y: auto;
}
.secondarytext{

  font-size:16px;
  line-height: 1.5;
  color:#586368;

}
#unactivatedheart{

  /*box-shadow: 1px 1px 2px #586368;*/



}
#unactivatedheart:hover{
  
  font-size:17px;
  /*box-shadow: 2px 2px 2.5px #586368;*/
  

}
.boxshadow{
}
.boxshadow:hover{
}
.socialmediaboxes{
  height: 30px;
  width:30px;
  display:inline-block;
    box-shadow: 1px 1px 2px #586368;

}
.socialmediaboxes:hover{
  height: 30px;
  width:30px;
  display:inline-block;
 box-shadow: 2px 2px 2.5px #586368;

}
.socialmediabuttons{
  
  padding-top:3px;
}
#activatedheart{

  box-shadow: 1px 1px 2px #586368;

}
#activatedheart:hover{

box-shadow: 2px 2px 2.5px #586368;
  

}
#totalhearts{

position:absolute;
left:40px;

}
.openbox{

    box-shadow: 1px 1px 2px #586368;


}
.openbox:hover{
   box-shadow: 2px 2px 3px #586368;
}
.closebox{
    width:30px;
    height:25px;
    box-shadow: 1px 1px 2px #586368;

}
.closebox:hover{
    
    top:2px;
    box-shadow: 2px 2px 3px #586368;

}

@media only screen and (min-width: 510px){ 

    .clothing{
     
    position:absolute;
    display:inline-block;

    
    left:200px;
    font-size:25px;
    
    padding-left:10px;
    opacity:0.8;
color:#586368;
transition:0.5s;
   /* display:inline-block;*/
   }
   .clothing:hover{
     
    position:absolute;
    display:inline-block;
    opacity:1;
    color:black;
    
    left:200px;
    font-size:25px;
    
    padding-left:10px;
   

   /* display:inline-block;*/
   }

   .jewels{
     
   display:inline-block;
   position:absolute;
       opacity:0.8;
color:#586368;
transition:0.5s;
   right:200px;
      font-size:25px;
     
     padding-right:20px;
     
      
   }
      .jewels:hover{
     
   display:inline-block;
   position:absolute;

transition:0.5s;
   right:200px;
      font-size:25px;
          opacity:1;
    color:black;
    
     
     padding-right:20px;
     
      
   }
   .logo{
    
     display:inline-block;
   }
   .shop{
     border:1px solid black;
     height: 50px;;
   }
}
@media only screen and (min-width: 568px){ 

    .clothing{
     
    position:absolute;
    display:inline-block;

    
    left:134px;
    font-size:25px;
    
    padding-left:10px;
    opacity:0.8;
color:#586368;
transition:0.5s;
   /* display:inline-block;*/
   }
   .clothing:hover{
     
    position:absolute;
    display:inline-block;
    opacity:1;
    color:black;
    
    left:134px;
    font-size:25px;
    
    padding-left:10px;
   

   /* display:inline-block;*/
   }

   .jewels{
     
   display:inline-block;
   position:absolute;
   opacity:0.8;
   color:#586368;
   transition:0.5s;
   right:149px;
      font-size:25px;
      box-shadow: 5px 5px 5px #586368;
      
     
     padding-right:20px;
     
      
   }
      .jewels:hover{
     
   display:inline-block;
   position:absolute;
box-shadow: 7px 7px 10px #586368;
transition:0.5s;
bottom:-3px;
   right:149px;
      font-size:25px;
          opacity:1;
    color:black;
    
     
     padding-right:20px;
     
      
   }
   .logo{
    
     display:inline-block;
   }
   .shop{
     border:1px solid black;
     height: 50px;;
   }
}
@media only screen and (max-width: 500px){ 
   .clothing{
     transition:0.5s;
    position:absolute;
    top:20px;
    left:80px;
    font-size:18px;
    
    padding-left:10px;
   

   /* display:inline-block;*/
   }

   .jewels{
     transition:0.5s;
     position:absolute;
     top:20px;
     left:286px;
      font-size:18px;
     
     padding-right:20px;
     
      
   }
   .logo{
    transition:0.5s;
     display:inline-block;
   }
   .shop{
     border:1px solid black;
     height: 50px;;
   }
}
@media only screen and (max-width: 375px){ 
   .clothing{
     transition:0.5s;
    position:absolute;
    top:20px;
    left:68px;
    font-size:18px;
    
    padding-left:10px;
   

   /* display:inline-block;*/
   }

   .jewels{
     transition:0.5s;
     position:absolute;
     top:20px;
     left:248px;
      font-size:18px;
     
     padding-right:20px;
     
      
   }
   .logo{
    transition:0.5s;
     display:inline-block;
   }
   .shop{
     transition:0.5s;
     border:1px solid black;
     height: 50px;;
   }
}
@media only screen and (max-width: 360px){ 
   .clothing{
     transition:0.5s;
    position:absolute;
    top:20px;
    left:60px;
    font-size:18px;
    
    padding-left:10px;
   

   /* display:inline-block;*/
   }

   .jewels{
     transition:0.5s;
     position:absolute;
     top:20px;
     left:254px;
      font-size:18px;
     
     padding-right:20px;
     
      
   }
   .logo{
    transition:0.5s;
     display:inline-block;
   }
   .shop{
     transition:0.5s;
     border:1px solid black;
     height: 50px;;
   }
}
@media only screen and (max-width: 320px){ 
   .clothing{
     transition:0.5s;
    position:absolute;
    top:20px;
    left:42px;
    font-size:18px;
    
    padding-left:10px;
   

   /* display:inline-block;*/
   }

   .jewels{
     transition:0.5s;
     position:absolute;
     top:20px;
     left:224px;
      font-size:18px;
     
     padding-right:20px;
     
      
   }
   .logo{
    transition:0.5s;
     display:inline-block;
   }
   .shop{

     transition:0.5s;
     border:1px solid black;
     height: 50px;;
   }
}

/*
.clothing{

margin-left:80px;
display:inline-block;


}
.jewels{
 margin-right: 20px;
 position:absolute;
 display:inline-block;
}
*/

.inline-block{
  display:inline-block
}


.secondarytextsimple{
  color:#586368;
}
.secondarytextaddresses{

  color:#586368;

}
#itemdescription{
text-decoration:underline;
}
#shippingandreturnsstyling{
  text-decoration:underline;

}
/*
.slide.ng-leave{
  transition:1s linear all;
  opacity:1;
}
.slide.ng-leave.ng-enter-active{
  
  opacity:0;
}*/
.nbrand{
  font-family:'Muli';
  font-size: 20px;
}
.adnext{
  margin-top: 100px;
  width: 40%;
  
}
#adnextleft{
  width:40%;
  margin-top:180px;
}
#maintitle{
 /* font-family: 'Spectral';*/
 
  font-family: 'Bellefair';
}
#whatsnewtitle{
  font-family: 'Bellefair';
}
.arrowFade{
  opacity:0.4;
}
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #ffbbbc !important;
}
.btn-submit{
  background-color:#ffbbbc;
}
.btn-submit, .btn-submit:hover, .btn-submit:active, .btn-psubmit:visited {
    background-color: #ffd6d6 !important;
    border: 1px solid black;
    border-radius:3px;
}
.btn-submitdarker, .btn-submitdarker:hover, .btn-submitdarker:active, .btn-psubmit:visited {
    background-color: #ffbbbc !important;
    border: 1px solid black;
    border-radius:3px;
}
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: white !important;
    border: 1px solid black;
    color:black;
}
.shoppingbagtitle{

  border-right:1px solid black;
  border-bottom:1px dashed black;
  height: 200px;

}
.shoetitlestyling{

  font-family: 'Bellefair';




}
.ordersummmarystyling2{
  color:#586368;
  font-weight:normal;

}
#managementloader{
  position:fixed;
 


}
.panzoom{
 height: 100%;
}
#pan-when-zoomed{

  border-top: 2px solid black;
  border-bottom: 2px solid black;

}
/*
.parent{
 
}
*//
.specificmainzoom{
/*position:absolute;*/
margin-top:200px;


}
/*galleryzoom*/



  .tiles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .maintitleview {
    position: relative;
    float: left;
    width: 33.333%;
    height: 100%;
    overflow: hidden;
  }

  .photo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: transform .5s ease-out;
  }

  .txt {
    position: absolute;
    z-index: 2;
    right: 0;
    bottom: 10%;
    left: 0;
    font-family: 'Roboto Slab', serif;
    font-size: 9px;
    line-height: 12px;
    text-align: center;
    cursor: default;
  }

  .x {
    font-size: 32px;
    line-height: 32px;
  }


.formstyling{

  border-right: 1px solid black;
}
.formstyling.ng-hide {
  opacity: 0;
}
.underline{
  text-decoration: underline;
  
}

.btn-fader.ng-hide{
 opacity:0;
}
.btn-fader.ng-hide-add,
.btn-fader.ng-hide-remove{
  transition: all linear 0.5s;
}
#imagefade.ng-hide{
 opacity:0;
}
#imagefade.ng-hide-add,
#imagefade.ng-hide-remove{
  transition: all linear 0.5s;
}
#joinourmailingliststyling.ng-hide{
 opacity:0;
}
#joinourmailingliststyling.ng-hide-add,
#joinourmailingliststyling.ng-hide-remove{
  transition: all linear 0.4s;
}
#oneclickid.ng-hide{
 opacity:0;
}
#oneclickid.ng-hide-add,
#oneclickid.ng-hide-remove{
  transition: all linear 0.25s;
}
#orderhistoryid.ng-hide{
 opacity:0;
}
#orderhistoryid.ng-hide-add,
#orderhistoryid.ng-hide-remove{
  transition: all linear 0.25s;
}
#emailadded.ng-hide{
 opacity:0;
}
#emailadded.ng-hide-add,
#emailadded.ng-hide-remove{
  transition: all linear 0.1s;
}
#emailloading.ng-hide{
 opacity:0;
}
#emailloading.ng-hide-add,
#emailloading.ng-hide-remove{
  transition: all linear 0.3s;
}

.addToCart.ng-hide{
 opacity:0;
}
.addToCart.ng-hide-add,
.addToCart.ng-hide-remove{
  transition: all linear 0.5s;
}
#totalWithShippingFader.ng-hide{
 opacity:0;
}
#totalWithShippingFader.ng-hide-add,
#totalWithShippingFader.ng-hide-remove{
  transition: all linear 0.2s;
}
#totalWithCouponFader.ng-hide{
 opacity:0;
}
#totalWithCouponFader.ng-hide-add,
#totalWithCouponFader.ng-hide-remove{
  transition: all linear 0.2s;
}
#emptycartstylings.ng-hide{
 opacity:0;
}
#emptycartstylings.ng-hide-add,
#emptycartstyling.ng-hide-remove{
  transition: all linear 0.2s;
}
#invalidcouponcodestyling.ng-hide{
 opacity:0;
}
#invalidcouponcodestyling.ng-hide-add,
#invalidcouponcodestyling.ng-hide-remove{
  transition: all linear 0.5s;
}
#totalFader.ng-hide{
 opacity:0;
}
#totalFader.ng-hide-add,
#totalFader.ng-hide-remove{
  transition: all linear 0.2s;
}
#shippingFader.ng-hide{
 opacity:0;
}
#shippingFader.ng-hide-add,
#shippingFader.ng-hide-remove{
  transition: all linear 0.2s;
}
#couponFader.ng-hide{
 opacity:0;
}
#couponFader.ng-hide-add,
#couponFader.ng-hide-remove{
  transition: all linear 0.2s;
}
#emaillisttitlestyling{
  font-family: 'Bellefair';

}
#formerrorstyling{
  font-family: 'Bellefair';
  font-size:22px;
}
.bellefair{
  font-family: 'Bellefair';
}
.couponcodestyling.ng-hide{
 opacity:0;
}
.couponcodestyling.ng-hide-add,
.couponcodestyling.ng-hide-remove{
  transition: all linear 0.2s;
}
.thumbnails{

display: inline-block;
border-top: 1px solid #586368;

}

.formstyling.ng-hide-add,
.formstyling.ng-hide-remove {
  
}
.fade.in {
  opacity: 1;
}
.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
.modal-backdrop.in {
  opacity: 0.5;
}
.startCheckout.ng-hide{
  opacity:0;
}
.startCheckout.ng-hide-add,
.startCheckout.ng-hide-remove{
transition: all linear 0.5s;
}

.invalidform.ng-hide{
  opacity:0;
}
.invalidform.ng-hide-add,
.invalidform.ng-hide-remove{
transition: all linear 0.5s;
}

.wouldyouliketouse{
  border-bottom: 2px solid #586368;;
}
.wouldyouliketouse.ng-hide{
 opacity:0;
}
.wouldyouliketouse.ng-hide-add,
.wouldyouliketouse.ng-hide-remove{
  transition: all linear 0.5s;
}
.finalcheckout.ng-hide{
opacity:0;
  
}
.finalcheckout.ng-hide-add,
.finalcheckout.ng-hide-remove{
  transition: all linear 0.5s;
}
.billingaddressstyling.ng-hide{
  opacity:0;
  border-right: 1px dashed black;

}
.billingaddressstyling.ng-hide-add,
.billingaddressstyling.ng-hide-remove{
  transition: all linear 0.5s;
}
.billingaddressstylingp{

 font-family:'Muli';
 font-weight:normal;
 font-size: 17px;

}
#ordersummarystyling{
  font-family:"Bellefair";
  font-size: 25px;
  text-decoration:underline;
}
.ordersummarystyling2{
  color:#586368;
  width:100%;
  
}
.smallerh3{
  font-size:20px;
}

.countryselectsizing{
  width:200px;
}
.iterator{
  border-top: 1px solid black;
  border-bottom: 1px dashed black;
  height: 100px;
}
#shopdescription{
  width:100%;
}
#shoppingbagimages{
  width:100%
}
.ordersummarystyling{
  /*border-right: 1px dashed black;*/
  border-bottom: 1px solid #586368;;

}
.ordersummarydiv{
  border-bottom: 2px solid #586368;
}
.ordersummaryitem{
  height:20%;
}
#ordersummaryimage{
  top: 500px;
}
#checkouttitlestyling{

  font-family: 'Bellefair';

}
#grandtotalstyling{
  font-family: 'Bellefair';
  font-size: 25px;
  text-decoration: underline;

  
}
#grandtotaltext{
  font-size:18px;
  
  color:#586368;

}
#billingaddresstitles{
  font-family:'Bellefair';
  text-decoration:underline;
}
#shippingaddresstitles{
  font-family:'Bellefair';
  text-decoration:underline;
}
.grandtotalstyling{
  
  /*border-top: 1px solid black;*/
  border-bottom: 1px solid black;

  border-width:20%;
}
.emptycartstyling{
    
    font-family:'Bellefair';
    border-bottom: 1px solid black;

}
#shoppingbagtitlestyling{
  
    font-family: 'Bellefair';

}
#checkouttitlestyling{

    font-family: 'Bellefair';  
}
#paymentloading{
  border:1px solid black;
}
#fullcartstyling{
  border-top:1px solid black;
  border-bottom:1px solid black;
}
#myModal{
  z-index: 1000000;
}
#loveLoader{
  
  color:#586368;
  font-size:20px;
}

#myBtn {
    opacity:0; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #ffbbbc; /* Set a background color */
    color: black; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    transition:1s;
}

#myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}
/*.landing-enter 
{ 
	-webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
	-moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
	-ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
	-o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
	transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
	position: relative;
	display: block;
	overflow: hidden;
	text-overflow: clip;
	white-space:nowrap;
} 
*/
.ng-enter{
transition :0.72s;
opacity:0
}
.ng-enter-active{ 
opacity:1;
}
/*
.ng-enter-stagger{
  transition-delay:0.1s;
}
*/
.landing-enter {
	opacity: 0;
	width: 0px;
	height: 0px;
}

.landing-enter.landing-enter-active {
	opacity: 1;
	width: 150px;
	height: 30px;
}
	
/*navbar*/
#hover{
  color: black;
}
#navbarDropdownMenuLink{
  color: black;
}
.navbar {
  background-color: #fff1ef;
}
.navbar .navbar-brand {
  color: black;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #ecf0f1;
}
.navbar .navbar-text {
  color: #ecf0f1;
}
.navbar .navbar-nav .nav-link {
  color: #ecf0f1;
  border-radius: .25rem;
  margin: 0 0.25em;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
  color: #ffbbbc;
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
  color: #ffbbbc;
  background-color: #ffffff;
}
.navbar .navbar-toggle {
  border-color: #ffffff;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
  background-color: #ffffff;
}
.navbar .navbar-toggle .navbar-toggler-icon {
  color: #ecf0f1;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
  border-color: #ecf0f1;
}
.navbar .navbar-link {
  color: black;
}
.navbar .navbar-link:hover {
  color: #ffbbbc;
}

@media (max-width: 767px) {
  .navbar .navbar-nav .open .dropdown-menu .dropdown-item {
    color: black;
  }
  .navbar .navbar-nav .open .dropdown-menu .dropdown-item:hover,
  .navbar .navbar-nav .open .dropdown-menu .dropdown-item:focus {
    color: black;
  }
  .navbar .navbar-nav .open .dropdown-menu .dropdown-item.active {
    color: #ffbbbc;
    background-color: #fff1ef;
  }
}


/*.navbar{
  position:fixed;
  width:100%;
  z-index:10000;
}*/