
 
<div ng-show= "loadme">
    <br>
    <br>
    <div class = "page-header" >
    <h1>Welcome to the shop</h1>
    </div>

<p>{{order}}</p>
<!--<div ng-show = "shoes.loading" class = "jumbotron text-center">

    <span class = "glyphicon glyphicon-spin repeat"></span>
    <p>Loading...</p>

</div>
-->

<div class= "container">
    <div class = "navbar-form">
        
            <button type="button" class = 'btn btn-submit'>Search</button>
            <div class = "btn-group">
                <button type ="button" class = "btn btn-submit">Sort by</button>
                <button type ="button" class = "btn btn-submit dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   <!-- <span class = "caret"></span>-->
                    <span class = "sr-only">Toggle Dropdown</span>
                </button>
                <ul class = "dropdown-menu">
                    <li><a href="#" ng-click = "sortOrder('-price');">Price-Highest</a></li>
                    <li><a href="#" ng-click = "sortOrder('price');">Price-Lowest</a></li>
                    <li><a href="#" ng-click = "sortOrder('name');">Name</a></li>
           
                </ul>
            </div>
        </div>
</div>
<br>
<br>

<center>
<div infinite-scroll = "loadMoreo()"  infinite-scroll-distance ="0.1" class = "container container-fluid ">


        <div class = "landing " ng-repeat="shoe in shoes | orderBy: order track by $index " >
            <h1 class = "pull-left"> {{shoe.name}}</h1>
            <h1 class = "pull-right"> {{shoe.price}}</h1>
            <br>
            <h1 id="shoehearts"class = "pull-right"> {{shoe.hearts}}</h1>
            <!--<heart-adder></heart-adder>-->
            <landing-gallery></landing-gallery>
            <i  ng-show= "loadme" class="fa fa-heart-o" ng-click="heartAdder()" ng-class="{hearted: hearts.hearts===1}"aria-hidden="true"></i>
            <i  ng-show= "loadme" class="fa fa-heart " ng-click="heartAdder()"ng-class="{heartbutton: hearts.hearts===1}"aria-hidden="true"></i>
           <i class="fa fa-heart" aria-hidden="true"></i>
           <!--<button class = "btn btn-inverse" ng-click="loadMoreo()">test</button>-->


        </div>

        </div>
</center>

<br>
<br>
<br>
<br>
<br>
<br>
<br>



</div>
        

   
