<br>
<div class ="container container-fluid">
<div class = "page-header">
    <h1>User Management</h1>
</div>

<button type ="button"ng-click="management.showMore(number);" class ="btn btn-inverse">Apply Filter</button>
<button type = "button" ng-click="management.showAll();"class = "btn btn-inverse">Show All</button>
<div class = "showmore">
    <div class = "col-lg-6">
        <div class = "input-group">
            <span class="input-group-addon">Results to dislay</span>
            <input type= "text" class="form-control" ng-model="number">
        </div>
    </div>
</div>
<br>
<br>
<!-- Input for filter -->
<div class = "navbar-form">

    <div class = "form-group">
        <input type= "text" name="search" class= "form-control" placeholder= "search for..." ng-model="searchKeyword">
        <button type = "button" ng-click = "management.search(searchKeyword, number);" class = "btn btn-submitdarker">Search</button>
       <a href ="/search"> <button type = "button" class ="btn btn-submit" >Advanced Search</button></a>
        <button class = "btn btn-submit" ng-click = "management.clear();">Clear</button>

    </div>

</div>
<br>
<div ng-show="searchFilter !== undefined">
    <p><strong>Total Results:</strong>{{( management.users | filter: searchFilter ).length }}</p>
</div>
<div ng-show="searchFilter !== undefined">
     <p><strong>Showing:</strong>{{( management.users | filter: searchFilter | limitTo: management.limit ).length}}</p>   
</div>


<div class="row show-hide-message"ng-show="management.showMoreError">
    <div class="alert alert-danger">{{management.showMoreError}}&nbsp </div>
</div>
<div class= "panel panel-default">
    <div class = "panel-heading">
        <strong>User Management</strong>
    </div>
    <table class = "table">
        <tr>
            <th>Name</th>
            <th>Username</th>
            <th>E-mail</th>
        </tr>
        <tr ng-repeat="person in management.users | filter: searchFilter | limitTo: management.limit">
            <td>{{person.name}}</td>
            <td>{{person.username}}</td>
            <td>{{person.email}}</td>
            <td>
               <a href="/edit/{{person._id}}"> <button ng-show='management.editAccess' type="button" class = "btn btn-submit">Edit</button></a>
                <button ng-show='management.deleteAccess' ng-click ="management.deleteUser(person.username);" type="button" class = "btn btn-submitdarker">Delete</button>
            </td>
        </tr>
    </table>
</div>


<div class="jumbotron text-center" ng-show="management.loading">

    <span class="glyphicon glyphicon-repeat spin"></span>
    <p>loading...</p>

</div>
<br>
<div class="row show-hide-message"ng-show="management.successMsg">
    <div class="alert alert-success">{{management.successMsg}}</div>
    
</div>

<button type ="button"ng-click="management.showMore(number);" class ="btn btn-inverse">Apply Filter</button>
<button type = "button" ng-click="management.showAll();"class = "btn btn-inverse">Show All</button>
<div class = "showmore">
    <div class = "col-lg-6">
        <div class = "input-group">
            <span class="input-group-addon">Results to dislay</span>
            <input type= "text" class="form-control" ng-model="number">
        </div>
    </div>
</div>
<div class ="row" ng-repeat= "email in emailList track by $index">

    <div class = "col-sm-3">
    </div>
    <div class = "col-sm-6">
        <center><h1>{{email}}</h1>
    </div>
    <div class = "col-sm-3">
        <button class = "btn btn-submit" ng-click="removeEmail($index);">Remove</button>
    </div>


</div>



</div>