<div class = "container container-fluid">
<div class = "page-header">
<!--   <center> <h1>Hello ({{ main.username }})</h1></center>-->
</div>

<br>


<div class = "panel panel-info">
    <div class="panel-heading" style="text-align: center;"><strong><h4 class = "myprofiletitle">User Profile</h4></strong></div>
<div class="table-responsive">
<table class= "table table-sm table-inverse">
    <tr>
        <th>Username</th>
        <th>Email</th>
    </tr>
    <tr>
        <td>{{main.username}}</td>
        <td>{{main.useremail}}</td>
        <td>****************</td>
    </tr>
</table>
</div>

</div>
    <div class = "page-header">
        <center><h4 class = "mylovestitle">My Loves</h4></center>
    </div>
     <div class ="row" ng-repeat="love in loveObjectArray track by $index">
<div class = "col-sm-12">
   
      <div class=" row "> <!-- thumbnailholder-->
      <div class = "col-sm-3">
            <h2 class = "mylovesname"> 
                {{love.name}}|</h2>
      </div>
      <div class = "col-sm-3 pull-left">
        <img ng-src="{{love.thumbnail}}">
    </div>

    <div class="col-sm-4">
     
      <p class ="mylovesdescription secondarytext">{{love.description}}</p>
       
    </div>
        <div class="col-sm-2">
     
      <button class ="btn btn-submit mylovesremovebutton" ng-click="removeOneLove($index)">Remove</button>
       
    </div>

    
    </div>
   
</div>
    <br>

</div>
<div ng-show="loveObjectArray.length == 0">
<center><span class="fa-stack fa-3x">
    <i class="fa fa-heart fa-stack-1x"></i>
    <i class="fa fa-bolt fa-stack-1x fa-inverse"></i>
</span>
</center>
</div>
<!--<center><button class = "btn btn-submit"ng-click="clearLoves();">Clear My Loves</button></center>-->
<br>
<!--
<div class ="row" ng-repeat="loop in looper">

    <div class="thumbnailholder">
    <div class="col-sm-1">
      <img ng-src="{{looper.shoe}}"> 
       
    </div>
    </div>
    
</div>
-->
<div class = "page-header">
   <center> <h1 class="orderhistorytitle">Order History</h1></center>
</div>


<div class = "table-responsive">
<table class="table table-sm table-inverse">
  <thead>
    <tr>
      
      <th>Name</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Total</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="order in orders track by $index">
            
            <td><a style = "color:white"href="/shop/mens/{{order.name}}"><p>{{order.name}}</p></a></td>
            <td>{{order.amt}}</td>
            <td>{{order.price | currency}}</td>
            <td>{{order.price*order.amt | currency}}
            <td>
              <button ng-click = "removeOrder($index);"class = "btn btn-submit">Remove</button>
            </td>
    </tr>

  </tbody>
</table>
</div>
<br>
<br>
<div class ="col-sm-12 details2">
</div>
<div class = "row" ng-repeat = "order in orders track by $index">

    <div class = "col-sm-12 details2">


       <!--
        <center><div class = "row orderhistorystyling">
            <div class = "col-sm-2 ">
                <img ng-src="{{order.image}}">
            </div>
            <div class ="col-sm-2 ">
                <h3 >Name</h3>
               <p class = "secondarytext" > {{order.name}}</p>
            </div>
            <div class ="col-sm-2">
                <h3 >Qty</h3>
                <p class = "secondarytext"> {{order.amt}}</p>
            </div>
            <div  class ="col-sm-2">
                <h3 >Price</h3>
                <p class = "secondarytext">  {{order.price | currency}} </p>
            </div>
            <div class ="col-sm-2">
                <h3>Total</h3>
                <p class = "secondarytext"> {{order.price | currency}}</p>
            </div>
                        <div class ="col-sm-2">
                <h3>Total</h3>
                <button ng-click = "removeOrder($index);"class = "btn btn-submit">Remove</button>
            </div>
        </div></center>
        <br>
        <br>
        
    </div>
    <div class = "col-sm-6">
        

    </div>
-->
</div>

</div>